.heading-link, .cards-section .card-title a, .news-section h3 a {
  text-decoration: none;
  border-bottom: 1px dashed;
  color: #222;
  font-family: 'Oswald', sans-serif; }

.hero-image {
  height: 510px;
  background: url("../img/wilson.jpg"); }
  .hero-image .hero-image-content {
    position: absolute;
    background-color: #FFFCF3;
    top: 124px;
    left: 20px;
    padding: 60px;
    opacity: 0.8; }
  .hero-image .hero-image-text {
    position: relative;
    left: 10px;
    text-indent: -10px;
    line-height: normal;
    font: 20px "Lato", sans-serif;
    font-style: italic; }
    .hero-image .hero-image-text strong {
      color: #FF3100;
      font-style: normal; }
  .hero-image .hero-image-header {
    color: #222;
    font-family: "Merriweather", serif;
    font-weight: 900; }

.introduction {
  padding-top: 20px;
  font-family: "Lato", sans-serif; }
  .introduction h2 {
    color: #FF3100;
    font-family: "Merriweather", serif;
    font-weight: 900; }

body {
  font-family: 'Lato', sans-serif; }

#main-navbar {
  background-color: #222; }

.cards-section {
  background-color: #87CEEB;
  padding-top: 20px; }

.footer-legal {
  text-align: center; }

.footer-address {
  text-align: right; }

.footer {
  padding-top: 20px;
  background-color: #FFFCF3; }

.news-section .news-header-wrapper {
  padding-top: 20px; }

.news-section h2 {
  color: #FF3100;
  font-family: "Merriweather", serif;
  font-weight: 900; }

.legal-section {
  padding-top: 20px; }
  .legal-section h2 {
    color: #FF3100;
    font-family: "Merriweather", serif;
    font-weight: 900; }

.about-section {
  padding-top: 20px; }
  .about-section h2 {
    color: #FF3100;
    font-family: "Merriweather", serif;
    font-weight: 900; }
