.hero-image {
  display: block;
  height: 510px;
  position: relative;
  overflow: hidden; }
  .hero-image img {
    min-height: 510px;
    opacity: 0.7; }
  .hero-image .hero-image-content {
    position: absolute;
    background-color: #F3FBFE;
    top: 60px;
    left: 20px;
    padding: 60px;
    opacity: 0.95; }
  .hero-image .hero-image-text {
    position: relative;
    left: 10px;
    text-indent: -10px;
    line-height: normal;
    font: 20px "Roboto Condensed", sans-serif;
    font-style: italic; }
    .hero-image .hero-image-text strong {
      color: #FF3100;
      font-style: normal; }
  .hero-image .hero-image-header {
    color: #FF3100;
    font-family: "Merriweather", serif;
    font-weight: 900; }

.introduction {
  padding-top: 20px;
  background-color: #F3FBFE;
  font-family: "Roboto Condensed", sans-serif; }

.cards-section {
  background-color: #87CEEB;
  padding-top: 20px; }

.footer-legal {
  text-align: center; }

.footer-address {
  text-align: right; }

.footer {
  padding-top: 20px;
  background-color: #FFFCF3; }

.news-section .news-header-wrapper {
  padding-top: 20px; }

.news-section h1 {
  color: #FF3100;
  font-family: "Merriweather", serif;
  font-weight: 900; }

.news-section h2 {
  color: #222; }

.legal-section {
  padding-top: 20px; }
  .legal-section h1 {
    color: #FF3100;
    font-family: "Merriweather", serif;
    font-weight: 900; }

.about-section {
  padding-top: 20px; }
  .about-section h1 {
    color: #FF3100;
    font-family: "Merriweather", serif;
    font-weight: 900; }
