.hero-image {
    display: block;
    height: 510px;
    position: relative;
    overflow: hidden;

    img {
      min-height: 510px;
      opacity: 0.7;
    }

    .hero-image-content {
        position: absolute;
        background-color: $primary-color-light;
        top: 60px;
        left: 20px;
        padding: 60px;
        opacity: 0.95;
    }

    .hero-image-text {
        position: relative;
        left: 10px;
        text-indent: -10px;
        line-height: normal;

        font: 20px $font-text;
        font-style: italic;

        strong {
          color: $bold-color-dark;
          font-style: normal;
        }
    }

    .hero-image-header {
        color: $dark-text;
        font-family: $font-header;
        font-weight: 900;
    }

}
