.hero-image {
    height: 510px;
    background: url("../img/wilson.jpg");

    .hero-image-content {
        position: absolute;
        background-color: $alternate-color-light;
        top: 124px;
        left: 20px;
        padding: 60px;
        opacity: 0.8;
    }

    .hero-image-text {
        position: relative;
        left: 10px;
        text-indent: -10px;
        line-height: normal;

        font: 20px $font-text;
        font-style: italic;

        strong {
          color: $bold-color-dark;
          font-style: normal;
        }
    }

    .hero-image-header {
        color: $dark-text;
        font-family: $font-header;
        font-weight: 900;
    }

}
