$font-header: 'Merriweather', serif;
$font-text: 'Lato', sans-serif;
$dark-text: #222;

$primary-color-light: #B3DBED;
$primary-color: #569CBA;
$primary-color-dark: #1F6D8E;

$alternate-color-light: #FFECBD;
$alternate-color: #FFD66F;
$alterate-color-dark: #E1AD29;

$bold-color-light: #FFCABD;
$bold-color: #FF8B6F;
$bold-color-dark: #E14C29;

.heading-link {
  text-decoration: none;
  border-bottom: 1px dashed;
  color: $dark-text;
  font-family: 'Oswald', sans-serif;
}

.heading-main {
  color: $bold-color-dark;
  font-family: $font-header;
  font-weight: 900;
}
